{:deps true
 :builds
 {:app {:target :esm
        :output-dir "imgui-react-runtime/examples/uix/out"
        :modules {:main {:entries [hermes.app]
                         :init-fn hermes.app/init}}
        :js-options {:js-provider :import}
        :runtime :custom
        :devtools {:client-ns hermes.repl.client
                   :preloads [uix.preload]}}
  :persistent-vector-example
       {:target :esm
        :output-dir "imgui-react-runtime/examples/persistent-vector-demo/cljs-out"
        :modules {:main {:entries [hermes.persistent-vector-example]
                         :init-fn hermes.persistent-vector-example/init}}
        :js-options {:js-provider :import}
        :runtime :custom}}}