{:deps true
 :builds
 {:app {:target :esm
        :output-dir "imgui-react-runtime/examples/uix/out"
        :modules {:main {:entries [hermes.app]
                         :init-fn hermes.app/init}}
        :js-options {:js-provider :import}
        :runtime :custom
        :devtools {:client-ns hermes.repl.client
                   :preloads [uix.preload]}}}}